<%- include('./includes/header.ejs') %>

<div class="container">
    <div class="list-table">
        <a class="add-btn" href="/admin/addambulance">Add Ambulance</a>
        <table>
            <tr>
                <th>SN</th>
                <th>Ambulance</th>
                <th>Current Location</th>
                <th>Available</th>
            </tr>
        </table>
    </div>
</div>



<%- include('./includes/footer.ejs') %>